*{
    margin:0;
    padding:0;
    font-family:sans-serif;
}

.hero{
    width : 100%;
    height : 100vh;
    background-image: url("background.jpg");
    background-size:cover;
    background-position:center;
    position:relative;
    overflow:hidden; 
    /* 이미지가 화면의 크기를 넘어갈때 스크롤로 내리면서 보여줄지 아니면 
    이미지를 잘라서 나타낼지 정하는게 overflow */
}

.logo{
    width: 200px;
    cursor:pointer;
}

.navbar{
    width : 85%;
    height : 15%;
    margin : auto;
    display : flex;
    align-items : center;
    justify-content: space-between;
}
button{
    color:#fbfcfd;
    padding:10px 25px;
    background: transparent;
    border : 1px solid #fff;
    border-radius : 20px;
    outline : none;
    cursor : pointer;
}

.content{
    color : #fbfcfd;
    position : absolute;
    top: 50%;
    left: 8%;
    transform : translateY(-50%);
    /* top을 50%를 잡은 상황에서 가운데로 오게 만들기 위해서는 translateY(-50%)해야됨 */
    /*https://stackoverflow.com/questions/40530101/why-is-translatey-50-needed-to-center-an-element-which-is-at-top-50*/
    z-index: 2;
    /*어느게 앞으로 오냐의 문제*/

}

h1{
    font-size:80px;
    margin:10px 0 30px;
    /* top : 10px left right : 0px bottom 30px*/
    line-height: 80px;
}

.side-bar{
    width : 50px;
    height: 100vh;
    background : linear-gradient(#00545d, #e7e8ec);
    position : absolute;
    right :0;
    top: 0;
}

.menu{
    display : block;
    width: 25px;
    margin : 40px auto 0;
    cursor : pointer;
}

.social-links img, .useful-links img{
    width : 25px;
    margin : 5px auto;
    cursor : pointer;
}

.social-links{
    width : 50px;
    text-align : center;
    position : absolute;
    top: 50%;
    transform : translateY(-50%);
}

.useful-links{
    width : 50px;
    text-align : center;
    position : absolute;
    bottom : 30px;
}

.bubbles img{
    width : 50px;
    animation : bubble 7s linear infinite;
}

.bubbles{
    width : 100%;
    display : flex;
    align-items : center;
    justify-content : space-around;
    position : absolute;
    bottom : -70px;
}

@keyframes bubble{
    0%{
        transform : translateY(0);
        opacity : 0;
    }
    50%{
        opacity : 1;
    }
    70%{

        opacity : 1;
    }
    100%{
        transform : translateY(-80vh);
        opacity : 0;
    }
}

.bubbles img:nth-child(1){
    animation-delay:3s;
    width : 50px;
}
.bubbles img:nth-child(2){
    animation-delay:1s;
    width : 50px;
}
.bubbles img:nth-child(3){
    animation-delay:2s;
    width : 50px;
}
.bubbles img:nth-child(4){
    animation-delay:5s;
    width : 50px;
}
.bubbles img:nth-child(5){
    animation-delay:4s;
    width : 50px;
}
.bubbles img:nth-child(6){
    animation-delay:7s;
    width : 50px;
}
